.input {
  font-size: 48px;
  width: 80%;
  font-family: 'Caveat', cursive;
  background: transparent;
  border: none;

  outline: none;
}

.input-dark {
  color: #ffe81f;
}
.input-light {
  color: rgb(63, 128, 207);
}

.input:active {
  background: transparent;
  border: none;
}

input: ;
