.todoitem {
  width: 70vw;
  padding: 1rem 3rem;
  margin: 1rem 1rem;
  border-radius: 6px;
  font-size: 1.8rem;

  transition: transform 0.2s ease;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* display: flex;
  flex-flow: row;
  justify-content: space-between; */
}

.todoitem:hover {
  transform: scale(1.02);
  box-shadow: 0 0 4px 2px #ffe81f;
}

.todotext {
  grid-column: 1/6;
  grid-row: 1;
  margin-right: 2rem;
}
.todotag {
  grid-column: 4/6;
  grid-row: 1;
}
.todo-patch-button {
  grid-column: 5/6;
  grid-row: 1;
}
.todo-delete-button {
  grid-column: 6/6;
  grid-row: 1;
}
