.todoitem {
  width: 70vw;
  padding: 1rem 3rem;
  margin: 1rem 1rem;
  border-radius: 6px;
  font-size: 1.8rem;

  transition: transform 0.2s ease;

  /* display: flex;
  flex-flow: row;
  justify-content: space-between; */
}

.todoitem:hover {
  transform: scale(1.02);
  box-shadow: 0 0 4px 2px #ffe81f;
}

.completed {
  text-decoration: line-through;
}
