.todoitem {
  border-radius: 6px;
  transition: transform 0.2s ease;
  display: flex;
}

.todoitem-dark {
  color: #ffe81f;
}
.todoitem-light {
  color: rgb(63, 128, 207);
}

.todoitem-dark:hover {
  transform: scale(1.01);
  box-shadow: 0 0 4px 2px #ffe81f;
}
.todoitem-light:hover {
  transform: scale(1.01);
  box-shadow: 0 0 4px 2px rgb(63, 128, 207);
}

.completed {
  text-decoration: line-through;
}

.buttonChange {
  cursor: pointer;
  width: 50px;
  height: 25px;
  margin: 10px;
  opacity: 0.5;
}

.buttonChange:hover {
  opacity: 1;
}

.buttonRemove {
  cursor: pointer;
  margin: 5px;
  margin: 10px;
  opacity: 0.5;
}

.buttonRemove:hover {
  opacity: 1;
}

.buttonDone {
  cursor: pointer;
  margin: 10px;
  opacity: 0.5;
  padding: 0;
}

.buttonDone:hover {
  opacity: 1;
}

.itemText {
  margin-left: 20px;
  font-size: 48px;
  width: 85%;
  font-family: 'Caveat', cursive;
}

.form {
  margin-left: 20px;

  width: 85%;
}
